
@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/Cera Pro Regular.otf") format("otf"),url("../fonts/Cera Pro Regular.otf") format("otf"),url("../fonts/Cera Pro Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/Cera Pro Regular.otf") format("otf"),url("../fonts/Cera Pro Regular.otf") format("otf"),url("../fonts/Cera Pro Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/Cera Pro Regular.otf") format("otf"),url("../fonts/Cera Pro Regular.otf") format("otf"),url("../fonts/Cera Pro Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 600;
}

html {-webkit-font-smoothing: antialiased;}
img{display: block;max-width: 100%;height: auto;}
body {
    font-family: 'Cera Pro', Helvetica, sans-serif;
    background: #000000;
    color: #ffffff;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

header {
    background: #000000;
    height: 150px;
    font-size: 0;
    position: relative;
    z-index: 2;
}

    header nav {
    }

        header nav a {
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #ffffff !important;
            display: inline-block;
            margin-right: 26px;
            text-decoration: none !important;
            -webkit-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }

            header nav a:hover {
                opacity: 0.6;
            }

        header nav .left {
            display: inline-block;
            margin: 36px 0;
        }

        header nav .right {
            float: right;
            margin: 50px 0;
        }

            header nav .right .menuBtn {
                background-color: #000000;
                border: solid;
                border-radius: 50px 50px 50px 50px;
                border-width: 1px;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }

            header nav .right button:hover {
                -webkit-transform: scale(1.02);
                -ms-transform: scale(1.02);
                transform: scale(1.02)
            }

        header nav .colored {
            color: #FB743E !important
        }

    header .mainLogo img {
        height: 70px;
    }

.textRed {
    color: #FF3939 !important;
}

.textYellow {
    color: #eef105 !important;
}

.textBlue {
    color: #2785d5 !important;
}

.textLightBlue {
    color: #0abae1 !important;
}

.textGreen {
    color: #0aa104 !important;
}

.text-right {
    text-align: right;
}

.fold {
    margin-bottom: 60px;
    padding-top: 76px;
    margin-top: 100px;
}

    .fold .logo {
    }

    .fold h1 {
        font-weight: bold;
        font-size: 42px;
        line-height: 52px;
        letter-spacing: 0;
        color: #FFFFFF;
        margin: 38px 0 21px 0;
        padding-left: 30px;
    }

    .fold h2 {
        font-weight: normal;
        margin: 0 0 19px 0;
        padding-left: 30px;
        font-size: 22px;
        line-height: 1.25em;
        color: #ffffff !important;
        display: inline-block;
        /*margin-right: 26px;*/
        text-decoration: none !important;
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

        .fold h2 i {
            font-weight: 600;
            font-style: normal;
        }

.becomeaddict {
    text-align: center;
    margin-bottom: 60px;
    padding-top: 76px;
    margin-top: 100px;
}

#presale {
    text-align: center;
    margin-bottom: 80px;
    padding-top: 0px !important;
    margin-top: 0px;
}

.becomeaddict h1 {
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 38px 0 21px 0;
    padding-left: 30px;
}

    .becomeaddict .ctas {
        padding-left: 30px;
        margin-bottom: 28px;
    }

        .becomeaddict .ctas .pancakeswap {
            padding: 14px 24px 12px 24px !important;
            min-width: 200px;
        }

        .becomeaddict .ctas h3 {
            color: #ffffff;
            opacity: .5;
        }

        .becomeaddict .ctas .pancakeswap {
            text-align: center;
            color: #ffffff;
            padding: 16px 32px;
            background: #000000;
            border-radius: 50px;
            border-style:solid;
            border-width:1px;
            opacity: 1;
            -webkit-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }

            .becomeaddict .ctas .pancakeswap:hover {
                -webkit-transform: scale(1.02);
                -ms-transform: scale(1.02);
                transform: scale(1.02)
            }

        .becomeaddict .ctas a {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            margin-right: 16px;
            text-decoration: none !important;
            display: inline-block;
            vertical-align: middle;
        }

            .becomeaddict .ctas a:last-child {
                margin-right: 0;
            }

    .becomeaddict .address div {
        display: inline-block;
        margin: 0 25px;
    }




.address .logo {
    height: 75px;
}

.address div h3 {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin: 20px 0 0;
    text-align: left;
    display: block;
    padding: 14px 0 0 0;
    display: inline-block;
}

.address div p {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    padding: 14px 16px 0 0;
    margin: 12px 0 0;
    cursor: pointer;
}

.address .contract-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    margin: 20px 0 0;
    /*display: inline-block;*/
}

.address .copy-to-clipboard {
    padding: 16px 20px;
    display: block;
}

    .address .copy-to-clipboard i {
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        font-style: normal;
        padding: 14px 16px;
        display: block;
        margin: 12px 0 0;
        cursor: pointer;
    }

    .address .copy-to-clipboard a {
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        font-style: normal;
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 10px;
    }

    .address .copy-to-clipboard i img {
        display: inline-block;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 6px;
    }

.rewards {
    margin: 105px 0 135px
}

.rewards h3 {
    text-align: left;
    font-size: 35px
}

    .rewards .container div {
        /*display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        background: #eee;
        margin: 10px auto;
        position: relative;*/
        text-align: center;
    }

.box {
    width: 380px;
    height: 80px;
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    position: relative;
    margin-bottom: 75px;
    display: block;
    -webkit-transition: all .1s cubic-bezier(1,0,0,1) !important;
    -moz-transition: all .1s cubic-bezier(1,0,0,1) !important;
    -o-transition: all .1s cubic-bezier(1,0,0,1) !important;
    -ms-transition: all .1s cubic-bezier(1,0,0,1) !important;
    transition: all .1s cubic-bezier(1,0,0,1) !important;
}

    .box:hover {
        box-shadow: 0 4px 11px 3px #eee
    }

    .box > p {
        font-family: Lato-Bold;
        color: #ffffff;
        padding: 30px 30px;
        font-size: 18px;
        text-align: center;
    }

.adrBSC {
    margin-top: 50px;
    display: inline-block;
    max-width: 50%
}

.address-l {
    margin-left: -75px
}

.address-r {
    margin-left: 100px
}

.bsc-address {
    font-family: Lato-Light
}

.round {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    top: -55px;
    right: -55px;
    text-align:center;
}

.round p {
    margin: 18px 0 0
}

.nzt-win {
    font-family: Lato-Black
}

.span-win {
    font-size: 20px;
    font-family: Lato-Bold
}

.scheme {
    vertical-align: middle;
    position: relative;
    line-height: 24px;
    letter-spacing: .2px;
    margin-bottom: 35px;
    color: #ffffff;
    margin-top: 50px;
}

.scheme h4 {
    margin-bottom: 39px;
    padding-left: 70px
}

.scheme-one h4:before,
.scheme-two h4:before{
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat
}

.scheme-one h4:before {
    background-image: url('../images/fire.png');
    top: -20px;
    left: -30px;
    background-size: 80px 80px;
    display: inline-block;
    width: 80px;
    height: 80px;
    content: "";
}

.scheme-two h4:before {
    background-image: url('../images/needle.svg');
    top: -10px;
    left: -20px;
    background-size: 70px 70px;
    display: inline-block;
    width: 70px;
    height: 70px;
    content: "";
}

.tokens {
    vertical-align: middle;
    position: relative;
    letter-spacing: .2px;
    line-height: 24px;
    margin-bottom: 35px;
    color: #ffffff;
    margin-top: 50px;
    /*font-family: initial !important;
    font-size: initial !important;*/
}

.tokens h4 {
    /*margin-bottom: 39px;
        padding-left: 70px;*/
}

.tokens-one h4:before, .tokens-two h4:before {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat
}

.tokens-two {
    margin-top: 26px !important;
}

/* Progress bar */
#progressPresale {
    /*width: 45%;*/ /* Bar width */
    margin: 0 auto;
    border-radius: 10px; /* Roundness */
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #000000; /* Background colour */
    padding: 7px 5px;
    /* border: 5px solid #a8a8a8; Border */
}

#fillPresale {
    padding: 2px 0;
    background-color: #eef105; /*Fill colour */
    width: 57%; /*Bar percentage, change text below also */
    border-radius: 25px; /* Roundness */
    animation: proanimate 4s;
}

#barpercentPresale h4 {
    color: #000000; /*Bar percentage text colour */
    margin: 0;
    padding: 0;
    opacity: 1;
    animation: fadein 3s forwards;
    text-align: center;
}

#progressBurn {
    /*width: 45%;*/ /* Bar width */
    margin: 0 auto;
    border-radius: 10px; /* Roundness */
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #000000; /* Background colour */
    padding: 7px 5px;
    /* border: 5px solid #a8a8a8; Border */
}

#fillBurn {
    padding: 2px 0;
    background-color: #FF3939; /*Fill colour */
    width: 30%; /*Bar percentage, change text below also */
    border-radius: 25px; /* Roundness */
    animation: proanimate 4s;
}

#barpercentBurn h4 {
    color: #000000; /*Bar percentage text colour */
    margin: 0;
    padding: 0;
    opacity: 1;
    animation: fadein 3s forwards;
    text-align: center;
}

#progressCommunityProm {
    /*width: 45%;*/ /* Bar width */
    margin: 0 auto;
    border-radius: 10px; /* Roundness */
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #000000; /* Background colour */
    padding: 7px 5px;
    /* border: 5px solid #a8a8a8; Border */
}

#fillCommunityProm {
    padding: 2px 0;
    background-color: #0abae1; /*Fill colour */
    width: 5%; /*Bar percentage, change text below also */
    border-radius: 25px; /* Roundness */
    animation: proanimate 4s;
}

#barpercentCommunityProm h4 {
    color: #000000; /*Bar percentage text colour */
    margin: 0;
    padding: 0;
    opacity: 1;
    animation: fadein 3s forwards;
    text-align: center;
}

#progressMarkt {
    /*width: 45%;*/ /* Bar width */
    margin: 0 auto;
    border-radius: 10px; /* Roundness */
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #000000; /* Background colour */
    padding: 7px 5px;
    /* border: 5px solid #a8a8a8; Border */
}

#fillMarkt {
    padding: 2px 0;
    background-color: #2785d5; /*Fill colour */
    width: 3%; /*Bar percentage, change text below also */
    border-radius: 25px; /* Roundness */
    animation: proanimate 4s;
}

#barpercentMarkt h4 {
    color: #000000; /*Bar percentage text colour */
    margin: 0;
    padding: 0;
    opacity: 1;
    animation: fadein 3s forwards;
    text-align: center;
}

#progressTeam {
    /*width: 45%;*/ /* Bar width */
    margin: 0 auto;
    border-radius: 10px; /* Roundness */
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #000000; /* Background colour */
    padding: 7px 5px;
    /* border: 5px solid #a8a8a8; Border */
}

#fillTeam {
    padding: 2px 0;
    background-color: #0aa104; /*Fill colour */
    width: 5%; /*Bar percentage, change text below also */
    border-radius: 25px; /* Roundness */
    animation: proanimate 4s;
}

#barpercentTeam h4 {
    color: #000000; /*Bar percentage text colour */
    margin: 0;
    padding: 0;
    opacity: 1;
    animation: fadein 3s forwards;
    text-align: center;
}

/* Fades in animation */
@keyframes fadein {
    from {
        opacity: 0;
    }
}
/* Animates bar on page load */
@keyframes proanimate {
    from {
        width: 0%;
    }
}


footer .logo{
    text-align: left;
}
footer .logo img{
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    /*margin-right: 26px;*/
}
header .logo{display: none;}
header .hamburger-icon{display: none;}

footer .contact {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    display: inline-block;
    margin: 38px 0 0 0;
    text-decoration: none !important;
    text-align: right;
    float: right;
}

.btn-default {
    color: #333;
    background-color: #e6e6e617 !important;
    border-color: #adadad !important;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e617 !important;
    border-color: #adadad !important;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

footer {
    border-radius: 0px; /* Roundness */
    border-top:solid;
    border-width: 1px;
    border-color: #ffffff;
}

.fold-hb .container {
    position: relative;
    background: url('../images/main screen.svg')no-repeat;
    background-size: 100%;
    height: 650px;
}

    .fold-hb .container .logoLeft {
        position: absolute;
        display: block;
        height: auto;
        bottom: -300px;
    }


    .fold-hb .container .logoRight {
        position: absolute;
        display: block;
        height: auto;
        right: 1%;
        bottom: -330px;
    }



.fold-hb .top {
    margin-top: 25%;
    margin-left: 50px;
}

.fold-hb .low {
}


.fold-hb {
    /*background: url('../images/main screen.svg') no-repeat center center;*/
    /* background-size: cover;*/
    /*background-size: 100% auto;*/
    /*padding: 350px 0;*/
    /*height: 700px;
    background-repeat: no-repeat;*/
    /*background-size: 80%;*/
}

    .fold-hb .logo {
        width: 206px;
    }

    .fold-hb .details {
        margin-top: 82px;
    }

    .fold-hb h3 {
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        font-weight: 400;
        margin: 30px 0 14px;
    }

        .fold-hb h3 strong {
            font-weight: 600;
        }

    .fold-hb h2 {
        font-weight: normal;
        margin: 0 0 19px 0;
        padding-left: 30px;
        font-size: 24px;
        line-height: 22px;
        color: #ffffff !important;
        display: inline-block;
        /*margin-right: 26px;*/
        text-decoration: none !important;
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

        .fold-hb h2 i {
            font-weight: 600;
            font-style: normal;
        }

    .fold-hb h4 {
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
        text-align: right;
        margin: 0 0 8px 0;
    }

    .fold-hb span {
        font-size: 16px;
        line-height: 27px;
        text-align: right;
        color: #ffffff;
        margin: 0;
        display: block;
    }

.section-headline {
    text-align: center;
    margin: 0 0 40px;
}

.countdown {
    text-align: center;
    display: inline-block;
    width: 100%;
    /*border: 1px solid #ffffff;*/
}

.countdown .day, .countdown .hour, .countdown .min, .countdown .sec {
    padding: 20px;
    text-align: center;
    margin: 1px; 
    display: inline-block;
}

.countdown .day .num, .countdown .hour .num, .countdown .min .num, .countdown .sec .num {
      display: block;
      font-size: 40px;
}

.countdown .day .word, .countdown .hour .word, .countdown .min .word, .countdown .sec .word {
    display: block;
    font-size: 20px;
 }


.presale {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.presale:hover{
    color:#ffffff;
}

.presale:visited {
   color: #ffffff;
}
.presale:active {
    color: #ffffff;
}

#partners {
    text-align: center;
    font-size: 0;
    margin-bottom: 120px;
}

    #partners a {
        display: inline-block;
        width: 350px;
        height: 164px;
        margin-right: 30px;
    }

        #partners a:last-child {
            margin-right: 0;
        }

        #partners a > img {
            margin: 24px auto 16px;
            height: 80px;
        }

#pancake {
    margin: 35px auto 16px !important;
    height: 50px !important;
}
#cmc {
    margin: 35px auto 16px;
    height: 50px !important;
}

#accordion .panel {
    border: solid;
    border-radius: 5px;
    border-color: #ffffff;
    border-width: 1px;
    box-shadow: none;
    margin-bottom: 10px;
    background: #000000;
    padding: 25px 50px 25px 25px;
    color: #ffffff;
}

#accordion .panel-heading {
    padding: 0;
    border-radius: 5px;
    background: #000000;
}

#accordion .panel-title a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    position: relative;
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    content: "" !important;
}

.panel-heading [data-toggle="collapse"]:after {
    color: #ffffff !important;
}

#accordion .panel-body {
    padding: 20px 30px;
    background: rgba(0,0,0,0.1);
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: none;
    border-radius: 5px;
}

@media only screen and (min-width : 1200px) {
    .fold h2{padding-right:100px;}

}

@media only screen and (max-width : 1200px) {

    .becomeaddict .ctas a {
        margin-right: 22px;
        font-size: 18px;
    }

        .becomeaddict .ctas a:last-child {
            margin: 15px 50px 0px 0px;
        }

    .fold-hb .container {
        position: relative;
        background: url('../images/main screen.svg')no-repeat;
        background-size: 100%;
        height: 550px;
    }
    
    
    .fold-hb .container .logoLeft {
        position: absolute;
        display: block;
        height: auto;
        /*width: 100%;*/
        bottom: -250px;

    }

    .fold-hb .container .logoRight {
        position: absolute;
        display: block;
        height: auto;
        right: -6%;
        bottom: -280px;
     }

    #partners a {
        margin-bottom: 20px;
        width: 300px;
        margin-right: 20px;
    }

}

@media only screen and (min-width : 992px){
    header nav {
        display: block !important;
    }

    .fold-hb .top-text {
        width: 450px;
        margin-left: 15%;
    }

    .fold-hb .bottom-text {
        width: 380px;
        margin-left: 17.1%;
    }

    .rewards {
        margin-top: 75px;
        margin-bottom: 85px
    }

        .rewards h3 {
            font-size: 32px
        }

    .address-l {
        margin-left: -55px
    }
}

@media only screen and (max-width : 992px) {
   

    header{ height:100px;}
    header nav{display: none;position: absolute;top: 80px;left: 0;width: 100%;background: #000000;padding: 0px 20px;z-index: 9;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}
    header nav a{
    display: block;
    padding: 6px 0;
    margin-bottom: 6px;
}
    header nav .left{
    display: block;
    margin: 0;
}
    header nav .right{
    float: none;
    margin: 0;
}
   
    header .hamburger-icon{
    display: block;
    position: absolute;
    top: 29px;
    right: 20px;
    width: 28px;
}
    header .hamburger-icon i{
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 0 0 8px 0;
}
    header .hamburger-icon i:last-child{
    margin-bottom: 0;
}
    header .logo{display: block;margin: 10px 0;}
        header .logo img {
            width: 130px;
            height: 70px;
            display: inline-block;
            margin-right: 12px;
        }
        header .logo span {
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
        }
    header .container{position:relative;}
    .fold h2{
        padding-left: 0;
    }
    
    .fold{
        padding-top: 40px;
        margin-bottom: 20px !important;
    }
    .fold-hb .container {
        background-image: none !important;
        height: 350px;
    }
    
    footer{height:auto;}
    footer .logo{text-align: center;}
    .hide-on-mobile{display: none;}
    .fold h1{padding-left: 0;margin-top: 0;/*display: none;*/}
    footer .contact{
        margin: 40px auto 0;
        float: none;
    }

    .becomeaddict .ctas a {
        width: 50%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .becomeaddict .ctas {
        margin-bottom: 20px;
        padding-left: 0;
    }

    .fold, .becomeaddict {
        margin-bottom: 60px;
    }

    .becomeaddict .ctas a:last-child {
        margin: 0px 0px 0px 0px;
    }

    .address div {
        width: 100%;
        margin: 0 0 36px 0 !important;
    }

    .address .logo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: block;
    }

    .adrBSC {
        display: block;
        max-width: 100%
    }

    .box {
        width: 100%
    }

    .address-l, .address-r {
        margin-left: -45px;
        padding: 0 90px
    }

    #partners {
        margin-bottom: 80px;
    }

}

#partners .container .row img {
    margin-top: 50px;
    width: 40%;
    margin-bottom: 20px;
}

/*footer {
    background-color: white;
    padding: 20px;
    margin-top: 50px;
}


footer img {
    width: 5%;
    height: 5%;
}*/

#faq h2{
    margin-top: 40px;
    margin-bottom: 40px;
    color:#ffffff
}

#faq .panel-heading h4.panel-title {
    height: 25px;
}

#faq {
    color: black;
    font-family: 'Cera Pro';
}

#faq a {
    text-decoration: none;
}

.panel-heading [data-toggle="collapse"]:after {
    content: "-"; /* "play" icon */
    float: right;
    color: #FF3939;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    content: "+";
    color: #454444;
}

@media only screen and (max-width: 1464px){

}


@media only screen and (max-width: 768px) {

    .fold-hb {
        background-position: center left;
        padding-bottom: 12px;
        background-size: auto;
    }

        .fold-hb h4 {
            text-align: left;
        }

        .fold-hb span {
            text-align: left;
            margin-bottom: 24px;
        }

    .container {
        padding: 0 16px;
    }

    .fold .logo {
    }

    .fold h2 {
        font-size: 22px;
    }

    .becomeaddict .ctas a {
        width: 100%;
        margin-bottom: 12px;
        text-align: center;
    }

    .fold-hb .container {
        background-image: none !important;
        height: 300px;
    }

    #partners a {
        margin: 0 0 20px 0 !important;
        width: 100%;
    }
    
}

@media only screen and (max-width : 480px) {

.fold .logo{}
.fold h2{
    font-size: 18px;
    line-height: 1.25;
}
    
    .fold .address a span{font-size: 11px;}
    .fold, #partners {
        margin-bottom: 60px;
    }


    .becomeaddict .ctas .pancakeswap {
        margin-bottom: 8px;
    }

    .address .copy-to-clipboard span {
        font-size: 12px;
    }

    .address div p{
        font-size:14px;
    }

    .address .copy-to-clipboard {
        padding: 8px 8px;
    }

    .addresses {
        margin-bottom: 40px;
    }

    .address-l {
        padding: 10px 40px 0
    }

    .address-r {
        padding: 0 40px
    }

    .rewards {
        margin-top: 35px;
        margin-bottom: 35px
    }

    .countdown .day, .countdown .hour, .countdown .min, .countdown .sec {
        padding: 10px;
        text-align: center;
        margin: 1px;
        /*width: 20%;*/
        /*text-align: left;*/
        /*border: 1px solid gray;*/
        display: inline-block;
    }
}

@media only screen and (max-width : 320px) {

}




